<ul class="grid {{#if count}}grid-{{count}}{{/if}}">
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
    <li class="grid-tile">
        <a href="#"><img src="http://dummyimage.com/105x105/" alt=""></a>
    </li>
</ul>