<h1 class="title">Grids</h1>

<blockquote>
    <p>A grid list is best suited to presenting a homogenous data type,
    typically
    images, and is optimized for visual comprehension and differentiating
    between like data types.</p>

    <cite><a href="http://www.google.com/design/spec/components/grids.html">Grids - Google design guidelines</a></cite>
</blockquote>

<h2 class="subhead subhead__grid">Grid of 3</h2>
{{> grid count=3}}

<h2 class="subhead  subhead__grid">Grid of 2</h2>
{{> grid count=2}}