<h1 class="title">Lists</h1>

<blockquote>
    <p>A list consists of a single continuous column of tessellated
        sub-divisions of equal width called rows that function as containers for
        tiles.</p>

    <cite><a href="http://www.google.com/design/spec/components/lists.html">Lists
        - Google design guidelines</a></cite>
</blockquote>


<h2 class="subhead subhead__list">Basic list</h2>
{{> list}}