<header class="nav-bar offscreen-shift">
    <ul class="nav-bar-nav nav-bar-nav__left">
        <li>Menu</li>
    </ul>

    <p class="title nav-bar-title">Title</p>

    <ul class="nav-bar-nav nav-bar-nav__right">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</header>