<h1 class="title">Grids</h1>

<blockquote>
    <p>Switches allow the user to select options. There are three kinds:
        checkboxes, radio buttons, and on/off switches</p>

    <cite><a href="http://www.google.com/design/spec/components/switches.html">Switches
        - Google design guidelines</a></cite>
</blockquote>

{{> switch-checkbox}}

{{> switch-radio}}

{{> switch}}