<ul class="list">
    <li class="list-tile list-tile__with-avatar">
        <span class="list-tile-avatar"></span>
        <div class="list-tile-primary">Single line</div>
    </li>
    <li class="list-tile">
        <div class="list-tile-primary">Single line</div>
    </li>

    <li class="list-tile list-tile__with-secondary list-tile__with-avatar">
        <span class="list-tile-avatar"></span>
        <div class="list-tile-primary">Two line item</div>
        <div class="list-tile-secondary">
            Secondary text
        </div>
    </li>
    <li class="list-tile list-tile__with-secondary list-tile__with-avatar">
        <span class="list-tile-avatar"></span>
        <div class="list-tile-primary">Two line item</div>
        <div class="list-tile-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            fugit quo vel! Blanditiis consequuntur distinctio ipsa saepe
            voluptatem! Accusantium aperiam eos est fugiat libero nisi non
            quisquam ratione reiciendis, vitae.
        </div>
    </li>


    <!--
    <li class="list-tile">
        <div class="list-tile-icon">Icon</div>
        Single line
    </li>
    <li class="list-tile">
        <div>Two line item</div>
        <div>Secondary text</div>
    </li>
    <li class="list-tile">
        <div>Three line item</div>
        <div>Secondary ine text lorem ipsum dapibus, neque id cursus faucibus</div>
    </li>
    <li class="list-tile">Tile 4</li>
    <li class="list-tile">Tile 5</li>
    -->
</ul>