html {
    font-family: robotoregular, sans-serif;
    font-size: 14px;
    color: material-color($color-text, 900);
}

.display-4 {
    font-family: robotolight, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 112px;
    color: material-color($color-text, 600);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-3 {
    font-family: robotoregular, sans-serif;
    font-size: 56px;
    line-height: 1.2;
    font-weight: 400;
    color: material-color($color-text, 600);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-2 {
    font-family: robotoregular, sans-serif;
    font-size: 45px;
    line-height: leading(54px, 45px);
    font-weight: 400;
    color: material-color($color-text, 600);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-1 {
    font-family: robotoregular, sans-serif;
    font-size: 34px;
    line-height: leading(42px, 34px);
    font-weight: 400;
    color: material-color($color-text, 600);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.headline {
    font-family: robotoregular, sans-serif;
    font-size: 24px;
    line-height: leading(32px, 24px);
    font-weight: 400;
    color: material-color($color-text, 900);
}

.title {
    font-family: robotomedium, sans-serif;
    font-size: 20px;
    line-height: leading(32px, 20px);
    font-weight: 500;
    color: material-color($color-text, 900);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &__primary {
        color: material-color($color-primary, 500);
    }
}

.subhead {
    font-family: robotoregular, sans-serif;
    font-size: 16px;
    line-height: leading(24px, 16px);
    font-weight: 400;
    color: material-color($color-text, 900);

    &__list,
    &__grid {
        padding: 0 16px;
        font-size: 14px;
        line-height: leading(22px, 14px);
        font-family: robotomedium, sans-serif;
        color: material-color($color-text, 600);
    }
}



.body {
    font-size: 14px;
    line-height: leading(24px, 14px);
    letter-spacing: -0.1px;
    color: material-color($color-text, 900);
}

.caption {
    font-family: robotoregular, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: material-color($color-text, 600);
}

// Generic margins
p, ul, ol, blockquote, table {
    margin: 0 0 20px;
}
