<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{{ title }} - CSS Material</title>

    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,300">-->
    <!-- vendor:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    {{> body }}

    <!-- vendor:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>