<dl class="component-definition">
    <dt>Flat button</dt>
    <dd><button class="button">Normal</button></dd>

    <dt>Flat button disabled</dt>
    <dd><button class="button" disabled>Disabled</button></dd>

    <dt>Flat button primary</dt>
    <dd><button class="button button--primary">Primary</button></dd>

    <dt>Raised button</dt>
    <dd><button class="button button--raised">Normal</button></dd>

    <dt>Raised button primary</dt>
    <dd><button class="button button--raised button--primary">Primary</button></dd>

    <dt>Raised button disabled</dt>
    <dd><button class="button button--raised" disabled>Disabled</button></dd>

    <dt>Raised button disabled</dt>
    <dd><button class="button button--raised button--primary" disabled>Disabled</button></dd>
</dl>